<%- include("partials/header"); -%>

<div class="container-fluid">

    <div class="individual-post">
        <h1 class="main-title"><%=title%></h1>
        <p>on <%=timestamp%></p>
        <div class="individual-post-box">
            <p><%=content%></p>
        </div>
    </div>
    <div class="btn-individual-post-container">
        <a href="/" class="btn-individual-post">close</a>
    </div>
</div>

<%- include("partials/footer"); -%>